h1.titlecv{
    text-align: center;
    font-size: 50px ;
    color: royalblue;
}

body{
    background-color: white ;
}

table{
    background-color: white;
}
a:hover{
    color: orange;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    
  }
  
   table, th, td {
    border: 1px solid black;
    
  }
 
  td {
    padding: 8px;
  }