h1.titlecv{
    text-align: center;
    font-size: 50px ;
    color: royalblue;
}

body{
    background-color: white ;
}

table{
    background-color: white;
}
a:hover{
    color: orange;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    margin:auto;
  }
  
   table,  td {
    border: 1px solid black;
    padding: 8px;
  }
 
  
  tr:nth-child(odd) {background-color: #f2f2f2;}