h1.titlecv{
    text-align: center;
    font-size: 50px ;
    color: royalblue;
}

body{
    background-color: #fff ;
}

table{
    background-color: white;
}
a:hover{
    color: orange;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    margin:auto;
  }
  
  tr:nth-child(odd) {background-color: #f2f2f2;}