form {
    /* centrer le formulaire sur la page */
    margin: 0 auto;
  width: 800px;
    /* Encadré et faire une marge */
    padding: 3em;
    border: 3px solid #454545;
    border-radius: 30px;
    background-color: #fff;
    margin-top: 100px;
  }

body{
    background-color: violet;
}

#Valider{
  
  margin-right: 120px;

}

/*#Valider{
  
  margin-left: 190px;

}*/

#dateBirth{
  margin: 0 auto;
  width: 170px;
}

#nationality{
  margin: 0 auto;
  width: 175px;
}

/*option{
  width: 190px;
}*/

label{
  /*  les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 180px;
  text-align: right;
}
 
  h1{
   text-align: center
  }

#resultat {
  background-color: green;
  padding: 5px;
  color: #fff;
  margin-top: 10px;
}

#error{
  background-color: red ;
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
  
  
  
}
